.row {
  height: 6em;
  background: green;
  width: 100%;
  border: 1px solid beige;
}
.column {
  height: 6em;
  display: inline-flex;
  align-items: center;
  background: blue;
  width: 100%;
  border: 1px solid red;
}

.Coordinates {
  border: 1px solid black;
  margin-top: 1em;
  background: #cccccc;
}

.Position {
  border: 1px solid black;
  margin-top: 1em;
  background: #cccccc;
}
.inputGridBtn {
  border: 1px solid black;
  margin-top: 1em;
}
.sendCommands {
  border: 1px solid black;
  margin-top: 1em;
}
