.rover {
  background: red;
  /* color: blue; */
  height: 6em;
  width: 5%;
  text-align: center;
  display: inline-flex;

  /* flex-direction: row-reverse; */
  align-items: center;
}
.head {
  background: blue;
  text-align: center;
  height: 3em;
  /* margin-bottom: 0.5em;
  width: 50%;
  margin-left: 25%; */
}
.move {
  background: red;
  display: inline;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
}
.direction {
  display: inline;
}
