.row {
  height: 6em;
  background: green;
  width: 100%;
  border: 1px solid beige;
}
.column {
  height: 6em;
  display: inline-flex;
  align-items: center;
  background: blue;
  width: 100%;
  border: 1px solid red;
}
