.row {
  height: 2em;
  background: green;
  width: 100%;
  border: 1px solid beige;
}
.column {
  height: 2em;
  display: inline-flex;
  background: blue;
  width: 100%;
  /* border: 1px solid red; */
}
